= render partial: 'admins/dashboard/sidebar'
.col-lg-8.main
  .row
    %ol.breadcrumb
      %li
        %a{:href => "/admins/home"}
          %span.glyphicon.glyphicon-home{"aria-hidden" => "true"}
      %li.active= @static_page.class
  .row
    .panel.panel-default
      .panel-heading
        .col-lg-6
          %h3
            = I18n.t("admin.static_pages")
        .col-lg-2
          .col-lg-2
          .col-lg-1
        .col-lg-4.adduserbtn
          = link_to edit_admins_static_page_path(@static_page.id), class: "btn btn-primary" do
            %i.glyphicon.glyphicon-pencil
            %strong Edit
          = link_to admins_static_pages_path, class: "btn btn-info" do
            %i.glyphicon.glyphicon-arrow-left
            %strong Back
      .panel-body
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab1default"} Basic Info
          %li
            %a{"data-toggle" => "tab", :href => "#tab2default"} View Content
        .tab-content
          #tab1default.tab-pane.fade.in.active
            .col-lg-6
              .panel-body
                .col-lg-6
                  .col-lg-7
                    %label Name :
                  .col-lg-5
                    = @static_page.name
                  .col-lg-7
                    %label Label:
                  .col-lg-5
                    = @static_page.label
                  %br/
          #tab2default.tab-pane.fade
            .col-lg-6
              .panel-body
                .col-lg-12
                  = @static_page.content
